<!DOCTYPE html>
<html>
<head>
  <!-- CSS -->
  <title>Hogwart's Students</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/students">Student</a></li>
      <li><a href="/students/new">Add Student</a></li>
    </ul>
  </nav>
</body>
<%= yield %>
</html>